body {
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    text-align: center;
}

h1 {
    color: azure;
}

ul {
    display: inline-block;
    text-align: left;
}